header {
  background-color: $color-lilac-super-light;

  .header-title {
    padding: $padding-tiny;
    background: url('/assets/images/header.png') no-repeat center center;
    background-size: cover;

    > div {
      border: solid 0.2rem $color-lilac-light;
    }

    h2 {
      font-family: $font-primary;
    }

    h1 {
      font-family: $font-secondary;
    }

    @include phone {
      h2 {
        font-size: $font-large;
      }

      h1 {
        font-size: $font-large;
      }
    }

    @include tablet {
      h2 {
        font-size: $font-xxx-large;
      }

      h1 {
        font-size: $font-xx-large;
      }
    }

    @include desktop {
      h2 {
        font-size: $font-xxx-large;
      }

      h1 {
        font-size: $font-xx-large;
      }
    }

    @include tv {
      h2 {
        font-size: $font-xxxx-large;
      }

      h1 {
        font-size: $font-xxx-large;
      }
    }
  }

  .header-image {
    @include phone {
      width: $width-regular;
      height: $width-regular;
      padding-left: 0.125 * $width-regular;
      padding-right: 0.125 * $width-regular;
    }

    @include tablet {
      width: $width-regular;
      height: $width-regular;
      padding-left: 0.125 * $width-regular;
      padding-right: 0.125 * $width-regular;
    }

    @include desktop {
      width: $width-large;
      height: $width-large;
      padding-left: 0.125 * $width-large;
      padding-right: 0.125 * $width-large;
    }

    @include tv {
      width: $width-large;
      height: $width-large;
      padding-left: 0.125 * $width-large;
      padding-right: 0.125 * $width-large;
    }

    img {
      outline: solid 0.2rem $color-lilac-dark;
      outline-offset: 0.5rem;
      width: 100%;
      height: 100%;
    }
  }
}
