.navbar-container {
  pointer-events: none;
}

div.navbar-pretty {
  pointer-events: all;
  height: 70%;
  border-right: solid 0.3rem $color-lilac-light;
  font-size: $font-regular;
  position: relative;

  img, button {
    position: absolute;
    top: 0;
    right: 0;
    width: $width-tiny;
    height: $height-tiny;
    margin-top: -1rem;
    margin-right: -1rem;
  }

  button.navbar-toggler {
    border: none;
    text-align: right;
    padding: $margin-tiny $margin-regular $margin-regular $margin-regular;
    color: white;
  }

  nav.nav > .navbar-collapse {
    @include phone {
      display: none;
    }

    margin-right: $margin-tiny;

    a {
      transition: all 0.1s;
      width: $width-small;
      box-sizing: content-box;
      background-color: $color-gray-normal;
      background-clip: padding-box;
      border: 0.5rem solid transparent;
      color: white;
    }

    a.active {
      transition: margin 0.1s;
      margin: $margin-xxx-large 0;
    }

    a.active,
    a:hover {
      background-clip: border-box;
      background-color: $color-gray-light;
      border: 0.5rem solid $color-gray-light;
      outline: 0.2rem solid $color-gray-normal;
      color: $color-gray-dark;
    }
  }
}
