div.navbar-pretty {
  height: 75%;
  border-right: solid 0.3rem $color-lilac-light;
  font-size: $font-regular;

  nav.nav > .collapse {
    margin-right: $margin-tiny;

    li {
      transition: margin 0.1s;
      margin: $margin-tiny 0;
    }

    li.active {
      transition: margin 0.1s;
      margin: $margin-xxx-large 0;
    }

    a {
      transition: padding 0.1s;
      width: $width-small;
      box-sizing: content-box;
      background-color: $color-gray-normal;
      color: white;
    }

    li.active a,
    a:hover {
      transition: padding 0.1s;
      padding: $margin-tiny $margin-large;

      background-color: $color-gray-light;
      border: solid 0.1rem $color-gray-normal;

      a {
        color: $color-gray-dark;
      }
    }
  }
}
