body {
  position: relative;
}

.gallery-wrapper {
  position: relative;
  border: 1rem solid $color-lilac-super-light;

  .triangle-top-left {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;
    border-top: $width-tiny solid $color-lilac-super-light;
    border-right: $width-tiny solid transparent;
  }
  .triangle-top-right {
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;
    border-top: $width-tiny solid $color-lilac-super-light;
    border-left: $width-tiny solid transparent;
  }
  .triangle-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 0;
    border-bottom: $width-tiny solid $color-lilac-super-light;
    border-right: $width-tiny solid transparent;
  }
  .triangle-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0;
    height: 0;
    border-bottom: $width-tiny solid $color-lilac-super-light;
    border-left: $width-tiny solid transparent;
  }

  .gallery-frame {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    box-shadow: 0 0 0 0.1rem $color-lilac-dark inset;
  }
}

.random-posts-wrapper {
  height: 1000px;
  position: relative;
  background-color: #d5d5d5;

  .profile-picture {
    position: absolute;
    top: 20%;
    left: 20%;

    @include phone {
      width: $width-small;
      height: $width-small;
    }

    @include tablet {
      width: $width-regular;
      height: $width-regular;
    }

    @include desktop {
      width: $width-regular;
      height: $width-regular;
    }

    @include tv {
      width: $width-large;
      height: $width-large;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .corner-horizontal {
    position: absolute;
    top: 5%;
    left: 5%;
    background: $color-lilac-light;

    @include phone {
      width: $width-small;
      height: $height-tiny *0.5;
    }

    @include tablet {
      width: $width-small;
      height: $height-tiny *0.5;
    }

    @include desktop {
      width: $width-regular;
      height: $height-tiny;
    }

    @include tv {
      width: $width-large;
      height: $height-regular;
    }
  }

  .corner-vertical {
    position: absolute;
    top: 5%;
    left: 5%;
    background: $color-lilac-light;

    @include phone {
      width: $height-tiny *0.5;
      height: $width-small;
    }

    @include tablet {
      width: $height-tiny *0.5;
      height: $width-small;
    }

    @include desktop {
      width: $height-tiny;
      height: $width-regular;
    }

    @include tv {
      width: $height-small;
      height: $width-large;
    }
  }
}
