@import '../abstracts/module';
@import '../base/module';

body {
  height: 100%;
  min-height: 100%;
  color: $color-lilac-dark;
}

main {
  min-height: 100%;
}

footer {
  background-color: transparent;
}

.gallery-wrapper {
  position: relative;
  border: 1rem solid $color-lilac-super-light;

  .triangle-top-left {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;
    border-top: $width-tiny solid $color-lilac-super-light;
    border-right: $width-tiny solid transparent;
  }
  .triangle-top-right {
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;
    border-top: $width-tiny solid $color-lilac-super-light;
    border-left: $width-tiny solid transparent;
  }
  .triangle-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 0;
    border-bottom: $width-tiny solid $color-lilac-super-light;
    border-right: $width-tiny solid transparent;
  }
  .triangle-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0;
    height: 0;
    border-bottom: $width-tiny solid $color-lilac-super-light;
    border-left: $width-tiny solid transparent;
  }

  .gallery-frame {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    box-shadow: 0 0 0 0.1rem $color-lilac-dark inset;
  }
}

.gallery-slider {
  position: relative;

  img {
    @include phone {
      width: $width-regular;
      height: $width-regular;
      padding-left: ((1 - (4/5))/2) * $width-regular;
      padding-right: ((1 - (4/5))/2) * $width-regular;
    }

    @include tablet {
      width: $width-large;
      height: $width-large;
      padding-left: ((1 - (4/5))/2) * $width-large;
      padding-right: ((1 - (4/5))/2) * $width-large;
    }

    @include desktop {
      width: $width-x-large;
      height: $width-x-large;
      padding-left: ((1 - (4/5))/2) * $width-x-large;
      padding-right: ((1 - (4/5))/2) * $width-x-large;
    }

    @include tv {
      width: $width-xx-large;
      height: $width-xx-large;
      padding-left: ((1 - (4/5))/2) * $width-xx-large;
      padding-right: ((1 - (4/5))/2) * $width-xx-large;
    }

    border: 0.5rem solid $color-gray-normal;
  }

  .slide-button {
    top: 50%;
    position: absolute;
    padding: $padding-tiny;
    border-radius: 50%;
    border: none;
    background-color: $color-lilac-light;

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }
  }
}


