@import '../abstracts/module';
@import '../base/module';

body {
  color: $color-lilac-dark;
}

footer {
  background-color: transparent;
}

.gallery-wrapper {
  position: relative;
  border: 1rem solid $color-lilac-super-light;

  .triangle-top-left {
    position: absolute;
    top: 0;
    left: 0;

    width: 0;
    height: 0;
    border-top: $width-tiny solid $color-lilac-super-light;
    border-right: $width-tiny solid transparent;
  }
  .triangle-top-right {
    position: absolute;
    top: 0;
    right: 0;

    width: 0;
    height: 0;
    border-top: $width-tiny solid $color-lilac-super-light;
    border-left: $width-tiny solid transparent;
  }
  .triangle-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0;
    height: 0;
    border-bottom: $width-tiny solid $color-lilac-super-light;
    border-right: $width-tiny solid transparent;
  }
  .triangle-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 0;
    height: 0;
    border-bottom: $width-tiny solid $color-lilac-super-light;
    border-left: $width-tiny solid transparent;
  }

  .gallery-frame {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    box-shadow: 0 0 0 0.1rem $color-lilac-dark inset;
  }
}
